{{#partial "content"}}
<div class="row">
    <section class="p-4 col-8 mx-auto ">
        <div>
        <div class="bg-light p-5 text-center 100vh">
            <h4 class="text-hero display-4 text-center">Welcome Hero squad!</h4>
            <p class="text-center">Create a well-balanced team of superheroes</p>
            <p class="text-center">Choose a cause for each team!</p>
            <p class="text-center">Send them to fight for their cause!</p>
            <p class="text-center">To create your squads </p>
            <a class="btn btn-lg btn-hero" href="/squad">Start Here!</a>
        </div>
        </div>
    </section>  
</div>
{{/partial}}
{{> layout.hbs}}