{{#partial "content"}}
<div class="row">
    <section class="p-4 col-6 mx-auto">
        <h5 class="display-6 text-hero">Add new squad</h5>
        {{#if myError}}
                <div class="alert alert-warning" role="alert">
                    {{myError}}
                </div>
        {{/if}}
        <form action="/add_squad" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input class="form-control" name="name" type="text" placeholder="Squad Name">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">cause</label>
                <input class="form-control" name="cause" type="text" placeholder="Squad Cause">
            </div>
            <div class="mb-3">
                <label for="members" class="form-label">Number of members</label>
                <input class="form-control" name="number" type="text" placeholder="maximum number of squad members">
            </div>
            <div class="mb-3 text-center">
                <input type="submit" name="submit" value="Submit" class="btn-hero">
            </div>

        </form>  
    </section>  
</div>
{{/partial}}
{{> layout.hbs}}