{{#partial "content"}}
<div class="row">
    <section class="p-4 col-6 mx-auto">
        <h5 class="display-6 text-hero">Add new squad</h5>
        <form action="" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input class="form-control" type="text">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">cause</label>
                <input class="form-control" type="text">
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">Number of members</label>
                <input class="form-control" type="number">
            </div>
            <div class="mb-3 text-center">
                <input type="submit" value="Submit" class="btn-hero">
            </div>

        </form>  
    </section>  
</div>
{{/partial}}
{{> layout.hbs}}